.u-section-1 {
  background-image: none;
  min-height: 1032px;
}

.u-section-1 .u-video-1 {
  height: 360px;
  margin: 656px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 675px;
  margin: -1016px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 414px;
  width: 964px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -102px auto 45px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 700;
  text-shadow: 5px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  margin: -163px 54px 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 27px -30px 0;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  margin: 27px 363px 0 299px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    margin-top: 702px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1062px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 287px;
    margin-right: 351px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    margin-top: 712px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1072px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 233px;
    width: 720px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 8.75rem;
    margin-top: -136px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 177px;
    margin-right: 241px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-video-1 {
    margin-top: 459px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 464px;
    margin-top: -819px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 223px;
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    margin-top: -96px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 107px;
    margin-right: 171px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-video-1 {
    margin-top: 321px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 411px;
    margin-top: -681px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 197px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: -58px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 23px;
    margin-left: 7px;
    margin-right: 71px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: "Abril Fatface";
  font-weight: normal;
  margin: 67px 0 0;
}

.u-section-2 .u-line-1 {
  height: 9px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  border-style: solid;
  margin: 23px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 38px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 478px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 117px 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  letter-spacing: 1px;
  border-style: none;
  font-size: 1rem;
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 299px;
  background-image: url("images/539316490-02.jpeg");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 168px;
  background-image: url("images/539316490-0.jpeg");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 437px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  line-height: 1.8;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  letter-spacing: 1px;
  border-style: none;
  font-size: 1rem;
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-image-3 {
  min-height: 156px;
  background-image: url("images/artificalintel.jpg");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 300px;
  background-image: url("images/539316490-01.jpeg");
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 491px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -7px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-7 {
  line-height: 29px;
  font-size: 1.125rem;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 8px 0 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  letter-spacing: 1px;
  border-style: none;
  font-size: 1rem;
  text-transform: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 18px auto 0 18px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 247px;
  }

  .u-section-2 .u-image-2 {
    min-height: 139px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 361px;
  }

  .u-section-2 .u-image-3 {
    min-height: 129px;
  }

  .u-section-2 .u-image-4 {
    min-height: 247px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 405px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1291px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 284px;
  }

  .u-section-2 .u-image-2 {
    min-height: 160px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    min-height: 148px;
  }

  .u-section-2 .u-image-4 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-2 .u-image-1 {
    min-height: 426px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 240px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 150px;
  }

  .u-section-2 .u-image-3 {
    min-height: 222px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 426px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 75px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 140px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 268px;
  }

  .u-section-2 .u-image-2 {
    min-height: 151px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-3 {
    min-height: 140px;
  }

  .u-section-2 .u-image-4 {
    min-height: 268px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 769px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Poppins;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 69px 0 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 519px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0 0;
}

.u-section-3 .u-slider-1 {
  min-height: 553px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  width: 535px;
  margin: -519px 0 50px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 40px;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
  box-shadow: -2px 0 0 0 rgba(26,26,26,0);
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 80px 45px;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 40px auto 0 0;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 80px 45px;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    text-decoration: none solid rgb(245, 214, 84);
  }

  .u-section-3 .u-image-1 {
    width: 503px;
    height: 515px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 515px;
    height: auto;
    margin-top: -515px;
    margin-bottom: 60px;
    margin-left: 533px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 172px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-slider-1 {
    min-height: 324px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 90px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 169px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-3 .u-image-1 {
    height: 348px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-slider-1 {
    min-height: 378px;
    margin-bottom: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 25px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 628px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 725px;
}

.u-section-4 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 55px 30px 45px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Lobster, cursive;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 0 -5px 0 5px;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  line-height: 29px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.125rem;
  border-style: none;
  letter-spacing: 4px;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 24px auto 0 124px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 350px;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 263px;
  height: 268px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 39px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 350px;
}

.u-section-4 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 268px;
  height: 268px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 42px auto 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 375px;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 263px;
  height: 276px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 42px auto 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 375px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 258px;
  height: 258px;
  background-image: url("images/16054512896691.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 42px auto 0 -16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 598px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 35px;
    padding-left: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 24px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-4 .u-image-1 {
    width: 226px;
    height: 226px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-4 .u-image-2 {
    width: 226px;
    height: 226px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-4 .u-image-3 {
    width: 226px;
    height: 226px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 309px;
  }

  .u-section-4 .u-image-4 {
    width: 226px;
    height: 226px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 195px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 443px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 473px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 158px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 665px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 665px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 710px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 710px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 419px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 447px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 447px;
  }
}.u-section-5 {
  background-image: url("images/539316490-03.jpeg");
}

.u-section-5 .u-sheet-1 {
  min-height: 615px;
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-decoration: underline !important;
  margin: 45px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-5 .u-list-1 {
  min-height: 331px;
  grid-template-columns: calc(25% - 24px) calc(25% - 24px) calc(25% - 24px) calc(25% - 24px);
  grid-gap: 32px 32px;
  margin: 30px auto 60px;
}

.u-section-5 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 51px 0 0 auto;
}

.u-section-5 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 51px 0 0 auto;
}

.u-section-5 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 51px 0 0 auto;
}

.u-section-5 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-5 .u-text-9 {
  text-transform: uppercase;
  background-image: none;
  font-family: Poppins;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 51px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 432px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-5 .u-text-1 {
    text-transform: none;
    font-size: 3.75rem;
    margin-left: 396px;
    margin-right: 396px;
    font-style: italic;
    font-weight: bold;
    font-family: "Abril Fatface";
  }

  .u-section-5 .u-list-1 {
    min-height: 273px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 834px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-5 .u-list-1 {
    min-height: 464px;
    grid-template-columns: calc(((100% - 720px) / 2) + 344px) calc(((100% - 720px) / 2) + 344px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    grid-template-columns: calc(((100% - 540px) / 2) + 254px) calc(((100% - 540px) / 2) + 254px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-left: 432px;
    margin-right: 432px;
  }

  .u-section-5 .u-list-1 {
    grid-template-columns: calc(((100% - 340px) / 2) + 154px) calc(((100% - 340px) / 2) + 154px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 3.75rem;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1292px;
}

.u-section-6 .u-shape-1 {
  height: 618px;
  width: 680px;
  margin: 0 -38px 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  width: 829px;
  margin: -551px auto 0 96px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 482px;
  background-size: 105%;
}

.u-section-6 .u-image-1 {
  background-image: url("images/img.jpg");
  background-position: 50% 0%;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 661px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-image-2 {
  width: 487px;
  height: 368px;
  margin: -1px auto 0 -92px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 661px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 49px;
  padding-right: 20px;
}

.u-section-6 .u-image-3 {
  width: 365px;
  height: 463px;
  object-position: 100% 50%;
  margin: -131px -19px 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 0 0 0 15px;
}

.u-section-6 .u-text-3 {
  margin: -1126px 37px 60px 940px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: 561px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 860px;
  }

  .u-section-6 .u-layout-cell-1 {
    background-position: 50% 0%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 745px;
  }

  .u-section-6 .u-image-2 {
    width: 375px;
    height: 283px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 745px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 70px;
  }

  .u-section-6 .u-image-3 {
    width: 346px;
    height: 439px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 29px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 777px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: -50px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 657px;
  }

  .u-section-6 .u-image-2 {
    width: 320px;
    height: 241px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 657px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-3 {
    width: 310px;
    height: 393px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 557px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-6 .u-shape-1 {
    height: 483px;
    width: 504px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    width: 530px;
    height: 385px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-6 .u-shape-1 {
    height: 420px;
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-image-2 {
    height: 267px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-3 {
    width: 320px;
    height: 232px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 177px;
  }
}.u-section-7 {
  background-image: url("images/Human-Intelligence-Can-Fix-AI-Shortcomings-1.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 1187px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 570px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 70px auto 0;
}

.u-section-7 .u-repeater-1 {
  width: 1140px;
  min-height: 375px;
  grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px);
  grid-gap: 22px 22px;
  margin: 29px auto 0 0;
}

.u-section-7 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-7 .u-image-1 {
  height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-repeater-item-2 {
  box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-image-2 {
  height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-repeater-item-3 {
  box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-7 .u-image-3 {
  height: 231px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 90px auto 56px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-7 .u-repeater-1 {
    width: 940px;
    min-height: 309px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 15px));
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-7 .u-repeater-1 {
    width: 720px;
    min-height: 710px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 349px));
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1515px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1166px;
    grid-template-columns: 100%;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }
}.u-section-8 {
  background-image: url("images/purple.jpg");
}

.u-section-8 .u-sheet-1 {
  min-height: 787px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 65px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.2;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 79px 0 0;
}

.u-section-8 .u-btn-2 {
  background-image: linear-gradient(to right, #9320e7, rgba(147,32,231,0.14));
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  animation-duration: 1000ms;
  margin: 108px auto 0;
  padding: 60px 175px 62px 174px;
}

.u-section-8 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-8 .u-icon-2 {
  height: 90px;
  width: 90px;
  animation-duration: 1000ms;
  margin: -131px 366px 0 auto;
}

.u-section-8 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 2250ms;
  margin: 71px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    background-position: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-icon-2 {
    margin-right: 250px;
  }
}