.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -233px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 12px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 100;
  font-style: italic;
  margin: 0 38px 0 18px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin: 234px 56px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 638px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0 39px;
}

.u-section-1 .u-image-1 {
  width: 125px;
  height: 125px;
  background-image: url("images/WhatsAppImage2021-07-09at12.49.48PM.jpeg");
  background-position: 50% 50%;
  margin: 43px auto 0 33px;
}

.u-section-1 .u-image-2 {
  width: 119px;
  height: 119px;
  background-image: url("images/WhatsAppImage2021-07-09at1.04.24PM.jpeg");
  background-position: 50% 50%;
  margin: -134px auto 0 205px;
}

.u-section-1 .u-image-3 {
  width: 124px;
  height: 124px;
  background-image: url("images/aashi.jpg");
  background-position: 50% 50%;
  margin: -121px 56px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 41px 334px 0 46px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -23px 164px 0 216px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -22px 0 0 380px;
}

.u-section-1 .u-text-7 {
  margin: 62px 28px 0 33px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 15px;
}

.u-section-1 .u-container-layout-3 {
  padding: 1px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -127px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 526px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 280px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 114px;
    margin-left: 166px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 280px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 24px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 617px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 201px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 388px;
  }
}