.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 49px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 377px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 77px;
  height: 77px;
  background-image: url("images/palak.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 46px;
  height: 46px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  background-image: none;
  margin: -87px 156px 0 auto;
}

.u-section-1 .u-text-2 {
  width: 222px;
  margin: 71px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-3 {
  width: 227px;
  font-style: italic;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 77px;
  height: 77px;
  background-image: url("images/IMG_20210201_224809_813.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 46px;
  height: 46px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  background-image: none;
  margin: -87px 156px 0 auto;
}

.u-section-1 .u-text-5 {
  width: 222px;
  margin: 71px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-text-6 {
  width: 227px;
  font-style: italic;
  margin: 10px auto 0;
}

.u-section-1 .u-group-1 {
  width: 641px;
  min-height: 76px;
  animation-duration: 1000ms;
  margin: -10px auto 3px 249px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
  padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.3em;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 7px 0 -7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 3px;
    margin-left: 79px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-right: 96px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 96px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}