.u-section-1 {
  background-image: url("images/cdr-145018762.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 80px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  margin-top: 34px;
  margin-bottom: 10px;
  width: 1140px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  min-height: 1195px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-6 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-7 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-8 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-9 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-10 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-11 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-12 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-13 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-14 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-15 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-16 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-16 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-17 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-18 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-18 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-19 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-20 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-20 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-20 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-21 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-21 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-21 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-22 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-22 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-22 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-23 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-23 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-24 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-1 .u-list-item-24 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-24 {
  padding: 22px 30px 3px;
}

.u-section-1 .u-text-25 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 985px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 3018px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 5093px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 {
  background-image: url("https://thumbs.dreamstime.com/b/cdr-145018762.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 881px;
}

.u-section-2 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 1140px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  min-height: 1195px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-7 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-8 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-9 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-10 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-10 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-11 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-12 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-13 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-14 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-14 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-15 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-15 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-16 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-16 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-17 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-17 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-17 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-18 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-18 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-18 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-19 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-19 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-19 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-20 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-20 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-20 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-21 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-21 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-21 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-22 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-22 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-22 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-23 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-23 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-23 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-list-item-24 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-24 {
  padding: 22px 30px 3px;
}

.u-section-2 .u-text-24 {
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 985px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 3018px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 5093px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-24 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}