.u-section-1 .u-sheet-1 {
  min-height: 982px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 40px 0 40px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 902px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 50px 40px 35px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 52px 15px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 902px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 246px;
  height: 246px;
  margin: 29px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 510px;
  height: 510px;
  background-image: url("images/emoji-crying-laugh-mask_a8f506d5-9696-44d3-8862-096bb34b6abe.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: -128px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 279px;
  height: 279px;
  box-shadow: 5px 5px 18px 1px rgba(0,0,0,0.4);
  background-image: url("images/2f0bzq.jpg");
  background-position: 50% 50%;
  margin: -139px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 114px;
  height: 114px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -58px 134px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -16px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 865px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 45px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 865px;
  }

  .u-section-1 .u-shape-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-top: -98px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 261px;
    height: 261px;
    margin-top: -135px;
    margin-left: 9px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -11px;
    margin-right: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 770px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 770px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-shape-1 {
    width: 174px;
    height: 174px;
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-1 .u-image-2 {
    width: 246px;
    height: 246px;
    margin-top: -74px;
  }

  .u-section-1 .u-shape-2 {
    width: 87px;
    height: 87px;
    margin-top: -6px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 745px;
  }

  .u-section-1 .u-shape-1 {
    width: 211px;
    height: 211px;
    margin-top: 14px;
  }

  .u-section-1 .u-image-1 {
    width: 464px;
    height: 464px;
    margin-top: -170px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 272px;
    height: 272px;
    margin-top: -162px;
  }

  .u-section-1 .u-shape-2 {
    width: 115px;
    height: 115px;
    margin-top: -66px;
    margin-right: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 721px;
  }

  .u-section-1 .u-shape-1 {
    width: 170px;
    height: 170px;
    margin-left: 31px;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 330px;
    margin-top: -84px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 197px;
    height: 197px;
    margin-top: -61px;
    margin-left: 25px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -20px;
    margin-right: 40px;
  }
}