.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/emoji-smiley-background-vector-background-template-emoji-background-text-white-circle-empty-space-me.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1864px;
}

.u-section-1 .u-text-1 {
  width: 168px;
  margin: 100px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 461px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 461px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 461px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 461px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 461px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 589px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 589px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 589px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 589px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 589px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-text-15 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 641px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-16 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 488px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 380px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 486px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 2131px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 826px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/emoji-smiley-background-vector-background-template-emoji-background-text-white-circle-empty-space-me.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1750px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: none;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 30px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 550px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-13 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-14 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-text-14 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-15 {
  min-height: 641px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 488px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 454px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-15 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 2131px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    min-height: 826px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/emoji-smiley-background-vector-background-template-emoji-background-text-white-circle-empty-space-me.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1561px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: -34px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 388px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 388px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 388px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-9 {
  min-height: 388px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-3 .u-layout-cell-10 {
  min-height: 388px;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-11 {
  min-height: 641px;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-12 {
  min-height: 641px;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-3 .u-layout-cell-13 {
  min-height: 641px;
}

.u-section-3 .u-container-layout-13 {
  padding: 30px;
}

.u-section-3 .u-text-13 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-layout-cell-14 {
  min-height: 641px;
}

.u-section-3 .u-container-layout-14 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-3 .u-layout-cell-15 {
  min-height: 641px;
}

.u-section-3 .u-container-layout-15 {
  padding: 30px;
}

.u-section-3 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    min-height: 488px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 529px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 529px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 529px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 529px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-15 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 2131px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    min-height: 826px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/emoji-smiley-background-vector-background-template-emoji-background-text-white-circle-empty-space-me.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 1726px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: none;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 600px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 600px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 600px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 475px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 475px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 475px;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-8 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 475px;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 475px;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-10 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-11 {
  min-height: 641px;
}

.u-section-4 .u-container-layout-11 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-12 {
  min-height: 641px;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px;
}

.u-section-4 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-layout-cell-13 {
  min-height: 641px;
}

.u-section-4 .u-container-layout-13 {
  padding: 30px;
}

.u-section-4 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-layout-cell-14 {
  min-height: 641px;
}

.u-section-4 .u-container-layout-14 {
  padding: 30px;
}

.u-section-4 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-layout-cell-15 {
  min-height: 641px;
}

.u-section-4 .u-container-layout-15 {
  padding: 30px;
}

.u-section-4 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    min-height: 488px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 495px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 495px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 495px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 495px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-13 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-14 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-15 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-15 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 2131px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    min-height: 826px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/emoji-smiley-background-vector-background-template-emoji-background-text-white-circle-empty-space-me.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 1701px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: none;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 550px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 550px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-layout-cell-8 {
  min-height: 550px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-layout-cell-9 {
  min-height: 550px;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-10 {
  min-height: 550px;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px;
}

.u-section-5 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-11 {
  min-height: 641px;
}

.u-section-5 .u-container-layout-11 {
  padding: 30px;
}

.u-section-5 .u-text-11 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-5 .u-layout-cell-12 {
  min-height: 641px;
}

.u-section-5 .u-container-layout-12 {
  padding: 30px;
}

.u-section-5 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-13 {
  min-height: 641px;
}

.u-section-5 .u-container-layout-13 {
  padding: 30px;
}

.u-section-5 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-14 {
  min-height: 641px;
}

.u-section-5 .u-container-layout-14 {
  padding: 30px;
}

.u-section-5 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-5 .u-layout-cell-15 {
  min-height: 641px;
}

.u-section-5 .u-container-layout-15 {
  padding: 30px;
}

.u-section-5 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    min-height: 488px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 412px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 412px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 412px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-10 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-11 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-12 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-13 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-14 {
    min-height: 529px;
  }

  .u-section-5 .u-layout-cell-15 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-15 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-5 .u-layout-wrap-1 {
    min-height: 2131px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    min-height: 826px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/emoji-smiley-background-vector-background-template-emoji-background-text-white-circle-empty-space-me.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 1701px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: none;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 500px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 500px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 500px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 339px;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 339px;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-text-7 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-8 {
  min-height: 339px;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-9 {
  min-height: 339px;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px;
}

.u-section-6 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-10 {
  min-height: 339px;
}

.u-section-6 .u-container-layout-10 {
  padding: 30px;
}

.u-section-6 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-11 {
  min-height: 641px;
}

.u-section-6 .u-container-layout-11 {
  padding: 30px;
}

.u-section-6 .u-text-11 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-12 {
  min-height: 641px;
}

.u-section-6 .u-container-layout-12 {
  padding: 30px;
}

.u-section-6 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-13 {
  min-height: 641px;
}

.u-section-6 .u-container-layout-13 {
  padding: 30px;
}

.u-section-6 .u-text-13 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-14 {
  min-height: 641px;
}

.u-section-6 .u-container-layout-14 {
  padding: 30px;
}

.u-section-6 .u-text-14 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-layout-cell-15 {
  min-height: 641px;
}

.u-section-6 .u-container-layout-15 {
  padding: 30px;
}

.u-section-6 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    min-height: 488px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 280px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 280px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 280px;
  }

  .u-section-6 .u-layout-cell-9 {
    min-height: 280px;
  }

  .u-section-6 .u-layout-cell-10 {
    min-height: 280px;
  }

  .u-section-6 .u-layout-cell-11 {
    min-height: 529px;
  }

  .u-section-6 .u-layout-cell-12 {
    min-height: 529px;
  }

  .u-section-6 .u-layout-cell-13 {
    min-height: 529px;
  }

  .u-section-6 .u-layout-cell-14 {
    min-height: 529px;
  }

  .u-section-6 .u-layout-cell-15 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-15 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 2131px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    min-height: 826px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://i.ibb.co/GVnMHB0/emoji-smiley-background-vector-background-template-emoji-background-text-white-circle-empty-space-me.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 1656px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: none;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 550px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 380px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-text-6 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 380px;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-text-7 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-8 {
  min-height: 380px;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px;
}

.u-section-7 .u-text-8 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-9 {
  min-height: 380px;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px;
}

.u-section-7 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-7 .u-layout-cell-10 {
  min-height: 380px;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px;
}

.u-section-7 .u-text-10 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-11 {
  min-height: 716px;
}

.u-section-7 .u-container-layout-11 {
  padding: 30px;
}

.u-section-7 .u-text-11 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin-right: 0;
  margin-left: 0;
}

.u-section-7 .u-layout-cell-12 {
  min-height: 716px;
}

.u-section-7 .u-container-layout-12 {
  padding: 30px;
}

.u-section-7 .u-text-12 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-13 {
  min-height: 716px;
}

.u-section-7 .u-container-layout-13 {
  padding: 30px;
}

.u-section-7 .u-text-13 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-14 {
  min-height: 716px;
}

.u-section-7 .u-container-layout-14 {
  padding: 30px;
}

.u-section-7 .u-text-14 {
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-7 .u-layout-cell-15 {
  min-height: 716px;
}

.u-section-7 .u-container-layout-15 {
  padding: 30px;
}

.u-section-7 .u-text-15 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 454px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 313px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 313px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 313px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 313px;
  }

  .u-section-7 .u-layout-cell-10 {
    min-height: 313px;
  }

  .u-section-7 .u-layout-cell-11 {
    min-height: 590px;
  }

  .u-section-7 .u-layout-cell-12 {
    min-height: 590px;
  }

  .u-section-7 .u-layout-cell-13 {
    min-height: 590px;
  }

  .u-section-7 .u-layout-cell-14 {
    min-height: 590px;
  }

  .u-section-7 .u-layout-cell-15 {
    min-height: 590px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-15 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 239px;
  }
}